<!-- views/signin.handlebars -->
<div class="jumbotron">
  <h1>Sign in</h1>
  <p>We're using passport.js to demonstrate user authentication. Please sign-in with your Local, Twitter, Google, or Facebook account to view your profile.</p>
  <p>
<!-- 		<a data-toggle="collapse" href="#local" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in Locally</a> -->
		<a data-toggle="modal" data-target="#myModal" href="#local" class="btn btn-warning btn-md" role="button"><span class="glyphicon glyphicon-user"></span> Sign in/Register Locally</a>
    <a href="/auth/twitter" class="btn btn-info btn-md" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Twitter</a>
    <a href="/auth/google" class="btn btn-danger btn-md" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Google</a>
    <a href="/auth/facebook" class="btn btn-primary btn-md" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>
  </p>
<div class="modal fade bs-modal-sm in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
              <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
            </ul>
        </div>
    <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="why">
        <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
        <p></p><br> Please contact <a mailto:href="orchestrate_auth@gmail.com"></a>orchestrate_auth@gmail.com for any other inquiries.<p></p>
        </div>
        <div class="tab-pane fade active in" id="signin">
					<form id="local-sign-in" class="form-horizontal" action="/login" method="post">
						<fieldset>

            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="username">User Name:</label>
              <div class="controls">
                <input required="" name="username" type="text" class="form-control" placeholder="User Name" autocomplete="off" />
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Password:</label>
              <div class="controls">
                <input required="" name="password" class="form-control" type="password" placeholder="********" autocomplete="off" />
              </div>
            </div>
							
							
            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <input class="btn btn-success" type="submit" value="Sign In" />
              </div>
            </div>
						</fieldset>
					</form>
				</div>
        <div class="tab-pane fade" id="signup">
            <form id="local-reg" class="form-horizontal" action="/local-reg" method="post">
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="Email">Email:</label>
              <div class="controls">
                <input id="email" name="email" class="form-control" type="text" placeholder="eg: you@youremail.com" required="" autocomplete="off" />
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">User Name:</label>
              <div class="controls">
                <input id="userid" name="userid" class="form-control" type="text" placeholder="your user name" required="" autocomplete="off" />
              </div>
            </div>
            
            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="newpassword">Password:</label>
              <div class="controls">
                <input id="newpassword" name="newpassword" class="form-control" type="password" placeholder="********" required="" autocomplete="off" />
                <em>1-8 Characters</em>
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
              <div class="controls">
                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" required="" autocomplete="off" />
              </div>
            </div>
            
            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
								<input type="submit" id="confirmsignup" name="confirmsignup" class="btn btn-primary btn-sm" value="Register"/>
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>




<!--   <form id="local-reg" class="collapse" action="/local-reg" method="post">
    <div>
        <p></p>
        <label>New Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
    </div>
  </form>
 -->